---
---

@import "base";

body {
  margin-top: 1em;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem; /* for the entire page, or 9pt */
}

.portrait-column {
    padding: 0;
}

.portrait-image {
    border-radius: 50%;
    max-width: 8em;
}

.author-me {
    font-weight: 600;
}

h2 {
    margin-top: 0em !important;
    margin-bottom: 0.3em !important;
}

h3 {
    margin-top: 0em !important;
    margin-bottom: 0.3em !important;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.columns {
    margin-bottom: 0 !important;
}

.employment-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Print-specific styles for page margins
@media print {
  @page {
      margin-top: 0.15in;
      margin-bottom: 0.15in;
      margin-left: 0.3in;
      margin-right: 0.3in;
  }
  body {
      zoom: 66%;
  }
}
