---
---

@import "base";

.title {
    font-family: 'Google Sans';
}

.portrait {
    border-radius: 20%;
    overflow: hidden;
    img { transform: scale(1.0); }
}

.footer .footer-links a {
    font-size: 25px;
    color: #000;
}

.header-buttons a {
    font-size: 30px;
    color: #363636;
    line-height: 1.3;
    transition: all 0.2s ease;
    
    &:hover {
        color: #3273dc;
        transform: translateY(-2px);
    }
    
    img {
        transition: all 0.2s ease;
    }
    
    &:hover img {
        transform: translateY(-2px);
        filter: brightness(1.1);
    }
}


.publication-block {
    .publication-title {
        width: fit-content;
        margin: 0 !important;
        font-weight: 500;
        font-size: 100% !important;
        a { color: #000 }
        line-height:1.0;
    }

    .publication-venue {
        color: #555;
        width: fit-content;
        margin-top: 0.2em;
        font-size: 80%;
        font-style: italic;
    }

    .publication-venue-emph {
        font-style: normal;
        font-size: 80%;
        font-weight: 500;
        color: firebrick;
        padding-left: 0.25em;
    }

    .publication-awards {
        color: firebrick;
        width: fit-content;
        font-weight: bolder;
    }

    .publication-authors {
        line-height:1.0;
        .author-me {
            color: #000;
            font-weight: 500;
            font-size: 80%;
        }

        a {
            color: #000 !important;
            font-size: 80%;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .publication-image {
        border-radius: 2%;
        overflow: hidden;
        font-size: 0;
        img { width: 100%;}
    }

    .publication-mousecell {
        position: relative;
        font-size: 0;
        width: 100%;
        display: block;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            display: block;
        }

        video {
            display: none;
            width: 100%;
        }
    }

    .publication-description {
        color: #333;
        margin: 0.5em 0;
        font-size: 80%;
    }

    .publication-links {
        margin: 0 !important;
        margin-top: 0.5em !important;
    }
}
